<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Amaze UI Examples</title>
  <meta name="renderer" content="webkit">
  <!-- <meta http-equiv="Cache-Control" content="no-siteapp"/> -->
  <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
  <link rel="stylesheet" href="__static__/css/amazeui.min.css">
  <link rel="stylesheet" href="__static__/css/app.css">
  <script type="text/javascript" src="__static__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
var InterValObj; //timer变量，控制时间
var count = 10; //间隔函数，1秒执行
var curCount;//当前剩余秒数
function sendMessage() {
curCount = count;
var phone; 
phone=document.getElementById('phone').value;

//设置button效果，开始计时
	$("#btnSendCode").attr("disabled", "true");
	$("#btnSendCode").val( + curCount + "秒再获取");
	InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
//向后台发送处理数据
	$.ajax({
		type: "POST", //用POST方式传输
		dataType: "JSON", //数据格式:JSON
		// url: "{:url('main/test2')}", //目标地址
		url: "{:url('Main/send_message')}", //目标地址
		data: {"phones":phone},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			alter("验证码发送失败，请稍后再试！");
		 },
		success: function (msg){ 
			if (msg==null) {
				alert('验证码发送成功，请注意查收！');
			}else{
				alert('验证码发送失败，请稍后再试！'+msg);
			}
			
		}
	});
}
//timer处理函数
function SetRemainTime() {
	if (curCount == 0) {                
		window.clearInterval(InterValObj);//停止计时器
		$("#btnSendCode").removeAttr("disabled");//启用按钮
		$("#btnSendCode").val("重新发送");   
	}
	else {
		curCount--;
		$("#btnSendCode").val( + curCount + "秒再获取");
	}
}
</script>

</head>
<body>
	<div class="am-text-center am-u-sm-11 am-u-sm-centered myapp-login-form-shortcut">
		<hr class="myapp-login-form-hr" />
		<span class="myapp-login-form-hr-font">手机号验证</span>
	</div>
	<!-- 登陆框 -->
	<div class="am-u-sm-11 am-u-sm-centered">
	<form class="am-form" action="{:url('Main/bindPhone')}">
	  <fieldset class="myapp-login-form am-form-set">
		<div class="am-form-group am-form-icon ">

			<input type="text" class="myapp-login-input-text am-form-field" id="phone" name="phone"  placeholder="请输入您的手机号">
		</div>
		<div class="am-form-group am-form-icon" >
		<input type="button" id="btnSendCode"	onClick="sendMessage()" class="myapp-login-form-submit am-btn am-btn-primary am-btn-block " value="获取验证码"></input>
		</div>

	    <div class="am-form-group am-form-icon">
			
			<input type="text" class="myapp-login-input-text am-form-field" name="code" placeholder="请输入验证码">
		</div>
	  </fieldset>
	  <input type="submit" class="myapp-login-form-submit am-btn am-btn-primary am-btn-block "></input>
	</form>

	</div>

		<div class="am-text-center am-u-sm-11 am-u-sm-centered myapp-login-form-shortcut">
		<hr class="myapp-login-form-hr" />
		<span class="myapp-login-form-hr-font">手机号验证</span>
	</div>

		<div class="am-u-sm-12 am-text-center" >
		 <a href="{:url('index/index')}">
		 <i class="am-icon-btn am-primary am-icon-home"></i>
		 </a>
		 </div>


</body>
</html>