
<!DOCTYPE html>
<html class="no-js"> 
	<head>
	{include file='include/head'}
	<!-- <script type="text/javascript" src="__static__/js/jquery-1.7.2.min.js"></script> -->
	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		{include file="include/aside"}
      
		<div id="fh5co-main">
		
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Is me</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-strategy"></i>
							</div>
							<div class="fh5co-text">
								<h3>接口</h3>
								<p>
					<li ><a href="{:url('index/car')}">car</a></li>
					<li ><a href="{:url('index/wxpay')}">微信支付</a></li>
					<li ><a href="{:url('main/session')}">session</a></li>
					<li ><a href="{:url('index/login')}">普通账号登录</a></li>
					<li ><a href="{:url('index/phonelogin')}">手机登录</a></li>
					<li ><a href="{:url('Oauth/qqLogin')}">QQ登录</a></li>
					<li ><a href="{:url('Oauth/wxLogin')}">微信登录</a></li>
					<li ><a href="{:url('Oauth/wxAutoLogin')}">微信静默授权</a></li>
					<!-- <li ><a href="{:url('index/index')}">主页</a></li> -->
					<!-- <li ><a href="{:url('index/portfolio')}">作品</a></li> -->
					<!-- <li ><a href="{:url('index/about')}">关于</a></li> -->
					<!-- <li ><a href="{:url('index/contact')}">联系</a></li> -->
					<!-- <li ><a href="{:url('index/test')}">地图Demo</a></li> -->

					<!-- <li ><a href="{:url('index/test2')}">test2</a></li> -->
					
					<li ><a href="{:url('index/phonereg')}">手机注册</a></li>
					<li ><a href="{:url('index/mailreg')}">邮箱注册</a></li>
					<li ><a href="{:url('index/register')}">账号注册</a></li>

					<li ><a href="{:url('index/bindphone')}">绑定手机</a></li>
					<li ><a href="{:url('index/bindmail')}">绑定邮箱</a></li>
					<li ><a href="{:url('Oauth/bindWX')}">绑定微信</a></li>
					<li ><a href="{:url('Oauth/bindQQ')}">绑定QQ</a></li>
					<li ><a href="{:url('index/wxjssdk',['id'=>time()])}">wxjssdk</a></li>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-telescope"></i>
							</div>
							<div class="fh5co-text">
								<h3>您的IP：</h3>
								<p>{$ip} </p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-circle-compass"></i>
							</div>
							<div class="fh5co-text">
								<h3>目标</h3>
								<p>CTO</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-tools-2"></i>
							</div>
							<div class="fh5co-text">
								<h3>技能</h3>
								<p>PHP、Java、Html、Css、Js、C/C++、</p>
							</div>
						</div>
					</div>

				</div>
			</div>


			<div class="fh5co-testimonial" >
				<div class="fh5co-narrow-content">
					<div class="owl-carousel-fullwidth animate-box" data-animate-effect="fadeInLeft">
		            <div class="item">
		            	<figure>
		            		<img src="__static__/images/testimonial_person2.jpg" alt="Free HTML5 Bootstrap Template">
		            	</figure>
		              	<p class="text-center quote">&ldquo;大一，什么都不懂的阶段 &rdquo; <cite class="author">&mdash; J. Y</cite></p>
		            </div>
		            <div class="item">
		            	<figure>
		            		<img src="__static__/images/testimonial_person3.jpg" alt="Free HTML5 Bootstrap Template">
		            	</figure>
		              	<p class="text-center quote">&ldquo;大二，开始学习JAVA，对编程产生强烈的兴趣 &rdquo;<cite class="author">&mdash; J. Y</cite></p>
		            </div>
		            <div class="item">
		            	<figure>
		            		<img src="__static__/images/testimonial_person4.jpg" alt="Free HTML5 Bootstrap Template">
		            	</figure>
		              	<p class="text-center quote">&ldquo;大三，学习PHP，但大部分时间都花在了我的微信公众号上面 &rdquo;<cite class="author">&mdash; J. Y</cite></p>
		            </div>
		          </div>
				</div>
			</div>


			<div class="fh5co-counters" style="background-image: url(__static__/images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
				<div class="fh5co-narrow-content animate-box">
					<div class="row" >
						<div class="col-md-4 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="{$count['today']}" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">今日访问人数</span>
						</div>
						<div class="col-md-4 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="{$count['week']}" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">本周访问人数</span>
						</div>
						<div class="col-md-4 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="{$count['all']}" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">累计访问人数</span>
						</div>
					</div>
				</div>
			</div>
		

			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<h1 class="fh5co-heading-colored">xBB</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<p class="fh5co-lead">万花丛中过，片叶不沾身</p>
						<p><a href="{:url('index/contact')}" class="btn btn-primary btn-outline" >Learn More</a></p>
					</div>
					
				</div>
			</div>

		</div>
	</div>

{include file='include/footer'}


	</body>
</html>

