<!DOCTYPE html>
<html>
<head>
	<title>计算机学院通知公告</title>
	<style type="text/css">
		a{text-decoration:none;}
	</style>
</head>
<body>

<h1>



{if condition="$xy eq 'tyxy'"}
体育学院
{elseif condition="$xy eq 'hxxy'"}
化学学院
{elseif condition="$xy eq 'mse'"}
材料科学与工程学院
{elseif condition="$xy eq 'jxgcxy'"}
机械工程学院
{elseif condition="$xy eq 'mkszyxy'"}
马克思主义学院
{elseif condition="$xy eq 'rwxy'"}
人文学院
{elseif condition="$xy eq 'glxy'"}
管理学院
{elseif condition="$xy eq 'jxxy'"}
教育与心理科学学院
{elseif condition="$xy eq 'wldzxy'"}
物理电子学院
{elseif condition="$xy eq 'jsj'"}
计算机学院
{elseif condition="$xy eq 'sxtjxy'"}
数学统计学院
{elseif condition="$xy eq 'hgx'"}
化学工程学院
{elseif condition="$xy eq 'tmgcxy'"}
土木工程学院

{else /} 
other Framework
{/if}

通知公告

</h1><br>
<form method="get" action="{:url('index/jsjnews')}">
	<select name="op">
	  <option value ="tyxy">体育学院</option>
	  <option value ="hxxy">化学学院</option>
	  <option value="mse">材料科学与工程学院</option>
	  <option value="jxgcxy">机械工程学院</option>
	  <option value="mkszyxy">马克思主义学院</option>
	  <option value="rwxy">人文学院</option>
	  <option value="jjxy">经济学院</option>
	  <option value="glxy">管理学院</option>
	  <option value="jxxy">教育与心理科学学院</option>
	  <option value="wldzxy">物理电子学院</option>
	  <option value="jsj">计算机学院</option>
	  <option value="sxtjxy">数学统计学院</option>
	  <option value="hgx">化学工程学院</option>
	  <option value="tmgcxy">土木工程学院</option>
	</select>
	<input type="submit" name="send" value="send">
</form>
<br>
{volist id="vo" name="list"}
<a href="{:url('Xsxxcx/getNewsHtml')}?st_id={$vo.st_id}">{$vo.title}</a><br>{$vo.time}<br><hr>
{/volist}
</body>
</html>