<!DOCTYPE html>
<html>
<head>
	<title>有赞</title>
</head>
<body>
<a href="https://wap.youzan.com/salesman/assets/center/getWithdrawHtml">提现</a><br>
<a href="https://wap.youzan.com/salesman/assets/center/getInOutRecordsHtml">收支明细</a><br>
<a href="https://wap.youzan.com/salesman/assets/center/getWithdrawRecordsHtml">提现记录</a><br>
<a href="https://h5.youzan.com/v2/feature/ctm95oz4?sf=wx_menu">商品</a><br>

<!-- <a href="https://h5.youzan.com/v2/orders/topay">待付款</a><br>
<a href="https://h5.youzan.com/v2/orders/totuan">待接单</a><br>
<a href="https://h5.youzan.com/v2/orders/tosend">待发货</a><br>
<a href="https://h5.youzan.com/v2/orders/send">已发货</a><br> -->

<!-- <a href="https://h5.youzan.com/v2/tag/ru5fpfn9">全部订单</a><br> -->
<!-- <a href="https://h5.youzan.com/v2/tag/ru5fpfn9">特价商品列表</a><br> -->
<!-- <a href="https://h5.youzan.com/v2/backs/18017770?source=weixin11&spm=cmkteleven0">我的返现</a><br> -->
<a href="https://h5.youzan.com/salesman/home/center?kdt_id=18017770">销售员中心</a><br>

<a href="https://wap.youzan.com/salesman/customer/relation/gethtml">累计客户</a><br>
<a href="https://wap.youzan.com/salesman/invitation/invitation/gethtml">累计邀请</a><br>
<a href="https://wap.youzan.com/salesman/order/order/gethtml">推广订单</a><br>
<a href="https://wap.youzan.com/salesman/home/center/faq">常见问题</a><br>
<a href="https://wap.youzan.com/salesman/home/tutorial/index?kdt_id=18017770">邀请好友</a><br>

<a href="{:url('YouZan/updateTradesInfo')}">更新交易信息</a><br>
<a href="{:url('YouZan/updateSalesman')}">更新所有销售员信息</a><br>
<a href="{:url('YouZan/updateProduct')}">更新所有在售商品信息</a><br>


<a href="{:url('YouZan/getTeamer')}">getTeamer</a><br>
</body>
</html>