    <script src="__static__/gitbook/app.js" tppabs="https://chenyiqiao.gitbooks.io/documentation_for_npm/content/gitbook/app.js"></script>
    <script src="__static__/gitbook/plugins/gitbook-plugin-comment/plugin.js" tppabs="https://chenyiqiao.gitbooks.io/documentation_for_npm/content/gitbook/plugins/gitbook-plugin-comment/plugin.js"></script>
    <script src="__static__/gitbook/plugins/gitbook-plugin-search/lunr.min.js" tppabs="https://chenyiqiao.gitbooks.io/documentation_for_npm/content/gitbook/plugins/gitbook-plugin-search/lunr.min.js"></script>
    <script src="__static__/gitbook/plugins/gitbook-plugin-search/search.js" tppabs="https://chenyiqiao.gitbooks.io/documentation_for_npm/content/gitbook/plugins/gitbook-plugin-search/search.js"></script>
    <script src="__static__/gitbook/plugins/gitbook-plugin-sharing/buttons.js" tppabs="https://chenyiqiao.gitbooks.io/documentation_for_npm/content/gitbook/plugins/gitbook-plugin-sharing/buttons.js"></script>
    <script src="__static__/gitbook/plugins/gitbook-plugin-fontsettings/buttons.js" tppabs="https://chenyiqiao.gitbooks.io/documentation_for_npm/content/gitbook/plugins/gitbook-plugin-fontsettings/buttons.js"></script>
    <script>
    require(["gitbook"], function(gitbook) {
        var config = { "comment": { "highlightCommented": true }, "autocover": {}, "highlight": {}, "search": { "maxIndexSize": 1000000 }, "sharing": { "facebook": true, "twitter": true, "google": false, "weibo": false, "instapaper": false, "vk": false, "all": ["facebook", "google", "twitter", "weibo", "instapaper"] }, "fontsettings": { "theme": "white", "family": "sans", "size": 2 } };
        gitbook.start(config);
    });
    </script>