<!DOCTYPE HTML>
<html lang="zh-tw">

<head>
    {include file="include/head"}
</head>

<body>
    <div class="book" data-level="0" data-chapter-title="Introduction" data-filepath="README.md" data-basepath="." data-revision="Wed Feb 10 2016 08:30:20 GMT+0000 (UTC)" data-innerlanguage="">
        <div class="book-summary">
            <nav role="navigation">
                <ul class="summary">
                    <li>
                        <a href="{:url('index/index')}" target="blank" class="custom-link">blog</a>
                    </li>
                    <!-- 分割线 -->
                    <li class="divider"></li>
                    <!-- 名字 -->
                    <li class="chapter active" data-level="0" data-path="index.html">
                        <a href="{:url('index/index')}"></i>名字</a>
                    </li>

                    <li class="chapter " data-level="1" data-path="what_is_npm.html">
                        <a href="{:url('index/index')}">目录1</a>
                        <ul class="articles">
                            <li class="chapter " data-level="1.1" data-path="../practice/types-of-front-end-dev.html">
                                <a href="{:url('index/index1')}">目录1.1</a>
                            </li>
                            <li class="chapter " data-level="1.2" data-path="../practice/types-of-front-end-dev.html">
                                <a href="{:url('index/index2')}">目录1.2</a>
                            </li>
                            <li class="chapter " data-level="1.3" data-path="../practice/types-of-front-end-dev.html">
                                <a href="{:url('index/index3')}">目录1.3</a>
                            </li>
                        </ul>
                    </li>

                    <li class="chapter " data-level="2" data-path="install_packages.html">
                        <a href="{:url('index/index4')}">目录2 </a>
                    </li>
                    <li class="chapter " data-level="3" data-path="install_packages.html">
                        <a href="{:url('index/index4')}">目录3 </a>
                    </li>


                    <li class="divider"></li>

                   
                </ul>
            </nav>
        </div>
        <div class="book-body">
            <div class="body-inner">
                <div class="book-header" role="navigation">
                    <!-- Actions Left -->
                    <!-- Title -->
                    <h1>
        <i class="fa fa-circle-o-notch fa-spin"></i>
        <a href="index.html" >book</a>
    </h1>
                </div>
                <div class="page-wrapper" tabindex="-1" role="main">
                    <div class="page-inner">
                        <section class="normal" id="section-">
                            <h1>标题</h1>
                            <p>这是段落 this is p</p>
                        </section>
                    </div>
                </div>
            </div>
            <a href="what_is_npm.html"  class="navigation navigation-prev " aria-label="Previous page"><i class="fa fa-angle-left"></i></a>
 <!--文章首尾用 class="navigation navigation-next navigation-unique" -->
            <a href="what_is_npm.html"  class="navigation navigation-next" aria-label="Next page"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    

    {include file="include/footer"}
</body>

</html>