	<!-- jQuery -->
	<script src="__static__/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="__static__/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="__static__/js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="__static__/js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="__static__/js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="__static__/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="__static__/js/jquery.countTo.js"></script>
	

	<!-- MAIN JS -->
	<script src="__static__/js/main.js"></script>